.cart {
}
.title_box {
  height: 33px;
  padding: 0 10px 0 34px;
  border-bottom: 2px solid #c10d0c;
  background: url(../../../assets/img/index.png) no-repeat 0 9999px;
  background-position: -225px -156px;
}
.title {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
.item_box {
  display: flex;
  margin: 20px 0 0 -42px;
  flex-flow: wrap;
  justify-content: flex-start;
}
.main {
  margin: 20px 0 0;
}
