.box {
  width: 530px;
  border-radius: 4px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
  border: none;
}
.global_phone {
  border-radius: 4px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
  width: 530px;
}
.footer {
  padding: 0 19px;
  height: 48px;
  border-top: 1px solid #c6c6c6;
  border-radius: 0 0 4px 4px;
  line-height: 48px;
  background-color: #f7f7f7;
  display: flex;
}
.btn_box {
  color: #0c72c3;
}
.icon_back {
  font-size: 12px;
  padding-right: 12px;
}
